<section>
<div id="projects"></div>

<div class="projects-heading">
    <p>Portfolio</p>
</div>

    <div class="skills-text">
        <p>{{ "sub-text-projects" | translate }}</p>
    </div>

<div class="vamp-div">
        <div class="vampbytes-frame">
            <img class="image" src="../../assets/img/book-frame.png" alt="">
            <img class="gif" src="../../assets/img/vampbytes.gif">
        </div>

            <div class="text-vampbytes">
                <p class="heading-vamp">VampBytes</p>
                    <p class="text-vamp">{{ "vampbytes-description" | translate }}
                    </p>
                    <div class="description-icons">
                        <a href="https://github.com/RaphaelFichtinger/Vampbytes"><img src="../../../assets/img/github.png" alt=""></a>
                        <a href="https://vampbytes.de/">Live Test</a>
                    </div>
            </div>
</div>
                    
<div class="join-div">

        <div class="join-frame">
            <img class="image" src="../../assets/img/book-frame.png" alt="">
            <img class="gif" src="../../assets/img/join.gif">

        </div>

            <div class="text-join">
                <p class="heading-join">Join</p>
                    <p class="text-sub-join">{{ "join-description" | translate }}
                    </p>
                    <div class="description-icons">
                        <a href="https://github.com/RaphaelFichtinger/JOIN"><img src="../../../assets/img/github.png" alt=""></a>
                        <a href="https://join-kanban.de/">Live Test</a>
                    </div>
            </div>
</div>
</section>