<section id="skills">
<div id="skills"></div>
<div class="skills-text-top">
  <p>Skills</p>
</div>

<div class="skills-text-mid">
  <p>{{ "skills-description" | translate }}</p>
</div>

  <div class="gallery">
    <img src="../../assets/img/HTML.png" alt="">
    <img src="../../assets/img/CSS.png" alt="">
    <img src="../../assets/img/Javascript.png" alt="">
    <img src="../../assets/img/Typescript.png" alt="">
    <img src="../../assets/img/Angular.png" alt="">
    <img src="../../assets/img/git.png" alt="">
    <img src="../../assets/img/Firebase.png" alt="">
    <img class="md-img" src="../../assets/img/MaterialDesign.png" alt="">
    <img src="../../assets/img/api.png" alt="">
    <img src="../../assets/img/scrum.png" alt="">
  </div>
</section>