<div class="footer-main">
    <div class="heading-footer">
        &#169; Raphael Fichtinger 2024
    </div>
   

            <div class="footer-socials">
                <a href="https://github.com/RaphaelFichtinger"><img src="../assets/img/github.png" alt=""></a>
                <a href="https://www.linkedin.com/in/raphael-fichtinger-6499172a3/"><img src="../assets/img/linkedin.png" alt=""></a>
                <a href="#contact-heading"><img src="../assets/img/mail.png" alt=""></a>
            </div>     
            
            <a [routerLink]="['imprint']" routerLinkActive="router-link-active" class="impressum">{{ "imprint" | translate}}</a>
</div>
