<a [routerLink]="['/']" routerLinkActive="router-link-active" class="back">{{ "back" | translate}}</a>

<div class="main-content">
<button class="translate-button" (click)="switchLanguage()">{{ 'EN' | translate }}</button>
<h1 class="adsimple-112763205">{{"heading-privacy" | translate}}</h1>
<br><br>
<h2 id="einleitung-ueberblick" class="adsimple-112763205">{{ "introduction" | translate }}</h2>
<br>
<p>{{ "text1" | translate }} <a class="adsimple-112763205" href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&amp;from=DE&amp;tid=112763205#d1e2269-1-1" target="_blank" rel="noopener">{{ "text2" | translate }}</a> {{ "text3" | translate }}<br />
<strong class="adsimple-112763205">{{ "text4" | translate }}</strong> {{ "text5" | translate }}</p>
<p>{{ "text6" | translate }} <strong class="adsimple-112763205">{{ "text7" | translate }}</strong>, {{ "text8" | translate }} <strong class="adsimple-112763205">{{ "text9" | translate }}</strong> {{ "text10" | translate }}<br />
{{ "text11" | translate }}</p>
<br><br>
<h2 id="anwendungsbereich" class="adsimple-112763205">{{ "text12" | translate }}</h2>
<br>
<p>{{ "text13" | translate }}</p>
<ul class="adsimple-112763205">
<li class="adsimple-112763205">{{ "text14" | translate }}</li>
<li class="adsimple-112763205">{{ "text15" | translate }}</li>
<li class="adsimple-112763205">{{ "text16" | translate }}</li>
</ul>
<p>          
<strong class="adsimple-112763205">{{ "text17" | translate }}</strong> {{ "text18" | translate }}</p>
<br><br>
<h2 id="rechtsgrundlagen" class="adsimple-112763205">{{ "text19" | translate }}</h2>
<br>
<p>{{ "text20" | translate }}<br />
{{ "text21" | translate }} <a class="adsimple-112763205" href="https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679">https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679</a> {{ "text22" | translate}}</p>
<p>{{ "text23" | translate }}</p>
<ol>
<li class="adsimple-112763205">
<strong class="adsimple-112763205">{{ "text24" | translate }}</strong> {{ "text25" | translate }}</li>
<li class="adsimple-112763205">
<strong class="adsimple-112763205">{{ "text26" | translate }}</strong> {{ "text27" | translate }}</li>
<li class="adsimple-112763205">
<strong class="adsimple-112763205">{{ "text28" | translate }}</strong> {{ "text29" | translate }}</li>
<li class="adsimple-112763205">
<strong class="adsimple-112763205">{{ "text30" | translate }}</strong> {{ "text31" | translate }}</li>
</ol>
<p>{{ "text32" | translate }}</p>
<p>{{ "text33" | translate }}</p>
<ul class="adsimple-112763205">
<li class="adsimple-112763205">In <strong class="adsimple-112763205">{{ "text34" | translate }}</strong> {{ "text35" | translate }} (<strong class="adsimple-112763205">{{ "text36" | translate }}</strong>), {{ "text37" | translate }} <strong class="adsimple-112763205">DSG</strong>.</li>
<li class="adsimple-112763205">In <strong class="adsimple-112763205">{{ "text38" | translate }}</strong> {{ "text39" | translate }} <strong class="adsimple-112763205">{{ "text40" | translate }}</strong>, {{ "text41" | translate }}<strong class="adsimple-112763205"> BDSG</strong>.</li>
</ul>
<p>{{ "text42" | translate }}</p>
<br><br>
<h2 id="kontaktdaten-verantwortliche" class="adsimple-112763205">{{ "text43" | translate }}</h2>
<br>
<p>{{ "text44" | translate }}<br />
<span class="adsimple-112763205" style="font-weight: 400">Raphael Fichtinger<br />
Troising 9<br />
3650 Pöggstall</span>
</p>
<p>E-Mail: <a href="mailto:kontakt@raphael-fichtinger.com">{{ "text45" | translate }} {{mail}}</a>
</p>
<p>{{ "text46" | translate }} <a href="https://raphael-fichtinger.com/">https://raphael-fichtinger.com</a>
</p><br><br>
<h2 id="speicherdauer" class="adsimple-112763205">{{ "text47" | translate }} </h2>
<br><p>{{ "text48" | translate }}</p>
<p>{{ "text49" | translate }}</p>
<p>{{ "text50" | translate }}</p><br><br>
<h2 id="rechte-dsgvo" class="adsimple-112763205">{{ "text51" | translate }}</h2><br>
<p>{{ "text52" | translate }}</p>
<ul class="adsimple-112763205">
<li class="adsimple-112763205">{{ "text53" | translate }}
<ul class="adsimple-112763205">
<li class="adsimple-112763205">{{ "text54" | translate }}</li>
<li class="adsimple-112763205">{{ "text55" | translate }}</li>
<li class="adsimple-112763205">{{ "text56" | translate }}</li>
<li class="adsimple-112763205">{{ "text57" | translate }}</li>
<li class="adsimple-112763205">{{ "text58" | translate }}</li>
<li class="adsimple-112763205">{{ "text59" | translate }}</li>
<li class="adsimple-112763205">{{ "text60" | translate }}</li>
<li class="adsimple-112763205">{{ "text61" | translate }}</li>
</ul>
</li>
<li class="adsimple-112763205">{{ "text62" | translate }}</li>
<li class="adsimple-112763205">{{ "text63" | translate }}</li>
<li class="adsimple-112763205">{{ "text64" | translate }}</li>
<li class="adsimple-112763205">{{ "text65" | translate }}</li>
<li class="adsimple-112763205">{{ "text66" | translate }}
<ul class="adsimple-112763205">
<li class="adsimple-112763205">{{ "text67" | translate }}</li>
<li class="adsimple-112763205">{{ "text68" | translate }}</li>
<li class="adsimple-112763205">{{ "text69" | translate }}</li>
</ul>
</li>
<li class="adsimple-112763205">{{ "text70" | translate }}</li>
<li class="adsimple-112763205">{{ "text71" | translate }}</li>
</ul>
<p>
<strong class="adsimple-112763205">{{ "text72" | translate }}</strong> {{ "text72" | translate }}</p>
<p>{{ "text74" | translate }} <a class="adsimple-112763205" href="https://www.dsb.gv.at/?tid=112763205" target="_blank" rel="noopener">https://www.dsb.gv.at/</a> {{ "text75" | translate }} <a class="adsimple-112763205" href="https://www.bfdi.bund.de/DE/Home/home_node.html" target="_blank" rel="noopener">{{ "text76" | translate }}</a> {{ "text77" | translate }}</p>
<br><br><h2 id="erklaerung-verwendeter-begriffe" class="adsimple-112763205">{{ "text78" | translate }}</h2>
<br><p>{{ "text79" | translate }}</p>
<br><br><h2 id="auftragsverarbeiter" class="adsimple-112763205">{{ "text80" | translate }}</h2>
<br><p>
<strong class="adsimple-112763205">{{ "text81" | translate }}</strong>
</p>
<p>{{ "text82" | translate }}</p>
<blockquote>
<p>
<em>
<strong class="adsimple-112763205">{{ "text83" | translate }}</strong> {{ "text84" | translate }}</em>
</p>
</blockquote>
<p>
<strong class="adsimple-112763205">{{ "text85" | translate }}</strong> {{ "text86" | translate }}</p>
<br><br><h2 id="einwilligung" class="adsimple-112763205">{{ "text87" | translate }}</h2>
<br><p>
<strong class="adsimple-112763205">{{ "text88" | translate }}</strong>
</p>
<p>{{ "text89" | translate }}</p>
<blockquote>
<p>
<em>
<strong class="adsimple-112763205">{{ "text90" | translate }}  </strong> {{ "text91" | translate }}</em>
</p>
</blockquote>
<p>
<strong class="adsimple-112763205">{{ "text92" | translate }} </strong>{{ "text93" | translate }}</p>
<br><br><h2 id="personenbezogene-daten" class="adsimple-112763205">{{ "text94" | translate }}</h2>
<br><p>
<strong class="adsimple-112763205">{{ "text95" | translate }}</strong>
</p>
<p>{{ "text96" | translate }}</p>
<blockquote>
<p>
<strong class="adsimple-112763205">
<em>{{ "text97" | translate }}</em>
</strong> 
<em>{{ "text98" | translate }}</em>
</p>
</blockquote>
<p>
<strong class="adsimple-112763205">{{ "text99" | translate }}</strong> {{ "text100" | translate }}</p>
<ul class="adsimple-112763205">
<li class="adsimple-112763205">Name</li>
<li class="adsimple-112763205">{{ "text101" | translate }}</li>
<li class="adsimple-112763205">{{ "text102" | translate }}</li>
<li class="adsimple-112763205">{{ "text103" | translate }}</li>
<li class="adsimple-112763205">{{ "text104" | translate }}</li>
<li class="adsimple-112763205">{{ "text105" | translate }}</li>
<li class="adsimple-112763205">{{ "text106" | translate }}</li>
<li class="adsimple-112763205">{{ "text107" | translate }}</li>
</ul>
<p>{{ "text108" | translate }} <strong class="adsimple-112763205">{{ "text109" | translate }}</strong>. {{ "text110" | translate }} <strong class="adsimple-112763205">{{ "text111" | translate }}</strong> {{ "text112" | translate }}</p>
<ul class="adsimple-112763205">
<li class="adsimple-112763205">{{ "text113" | translate }}</li>
<li class="adsimple-112763205">{{ "text114" | translate }}</li>
<li class="adsimple-112763205">{{ "text115" | translate }}</li>
<li class="adsimple-112763205">{{ "text116"| translate }}</li>
<li class="adsimple-112763205">{{ "text117" | translate }}</li>
<li class="adsimple-112763205">{{ "text118" | translate }}<br />
{{ "text119" | translate }}</li>
<li class="adsimple-112763205">{{ "text120" | translate }}</li>
</ul><br><br>
<h2 id="profiling" class="adsimple-112763205">Profiling</h2>
<br><p>
<strong class="adsimple-112763205">{{ "text121" | translate }}</strong>
</p>
<p>{{ "text122" | translate }}</p>
<blockquote>
<p>
<em>
<strong class="adsimple-112763205">„Profiling“</strong> {{ "text123" | translate }}</em>
</p>
</blockquote>
<p>
<strong class="adsimple-112763205">{{ "text124" | translate }}</strong> {{ "text125" | translate }}</p>
<p>&nbsp;</p>
<h2 id="verantwortlicher" class="adsimple-112763205">{{ "text126" | translate }}</h2>
<p>
<strong class="adsimple-112763205">{{ "text127" | translate }}</strong>
</p>
<p>{{ "text128" | translate }}</p>
<blockquote>
<p>
<em>
<strong class="adsimple-112763205">{{ "text129" | translate }}</strong> {{ "text130" | translate }}</em>
</p>
</blockquote>
<p>
<strong class="adsimple-112763205">{{ "text131" | translate }}</strong> {{ "text132" | translate }}</p>
<p>&nbsp;</p>
<h2 id="verarbeitung" class="adsimple-112763205">{{ "text133" | translate }}</h2>
<p>
<strong class="adsimple-112763205">{{ "text134" | translate  }}</strong>
</p>
<p>{{ "text135" | translate }}</p>
<blockquote>
<p>
<strong class="adsimple-112763205">
<em>{{ "text136" | translate }}</em>
</strong>
<em> {{ "text137" | translate }}</em>
</p>
</blockquote>
<p>
<strong class="adsimple-112763205">{{ "text138" | translate }} </strong>{{ "text139" | translate }} </p>
<p>{{ "text140" | translate }}</p>
<p style="margin-top:15px">{{ "text141" | translate }} <a href="https://www.adsimple.at/datenschutz-generator/" title="Datenschutz Generator Österreich von AdSimple">{{ "text142" | translate }}</a> von AdSimple</p>
</div>