
<section>

<div class="main-content" id="main-content">
    <div id="home" class="i-am-div">{{ 'I am' | translate }}</div>
     <div class="name">Raphael Fichtinger</div>
            <p>Fronted Developer</p>
</div>





    <div class="socials">
        <a class="anchor" href="https://github.com/RaphaelFichtinger"><img src="../assets/img/github.png" alt=""></a>
        <a class="anchor" href="https://www.linkedin.com/in/raphael-fichtinger-6499172a3/"><img src="../assets/img/linkedin.png" alt=""></a>
        <a class="anchor" (click)=" scrollToContacts()"><img src="../assets/img/mail.png" alt=""></a>
    </div>

        <div class="sub-content">
            <div class="sub-left"></div>
                <div class="sub-right"><p>{{ 'bridges' | translate }}</p></div>
        </div>

            <div class="bottom-content">
                <p class="bottom-text">{{ 'topdescription' | translate }}
                </p>
            </div>
            
</section>